<div data-role="page" id="splash">
  <div data-role="header" data-position="fixed">
    <h1>Cinepolis</h1>
  </div>
  <div role="main" class="ui-content">

    <img src="/images/cinepolis.png" alt="Imagen de Cinepolis">
  </div>
  <div data-role="footer" data-position="fixed">

    <div data-role="navbar">
      <ul>
        <li>
          <a href="#splash">Home</a>
        </li>

        <li>
          <a href="#itemForm">Reservas</a>
        </li>

        <li>
          <a href="#itemCreate">Listado de Reservas</a>
        </li>

      </ul>
    </div>
  </div>

</div>


<div data-role"page" id="itemForm">
  <div data-role="header" data-position="fixed">
    <h1>Cinepolis</h1>
  </div>
  <div role="main" class="ui-content">
    <h2>Reserva tus formularios desde aquí</h2>
    <form id="itemForm-form">
      <label for="itemForm-txtNombre">Nombre</label>
      <input type="text" id ="itemForm-txtNombre" placeholder="Nombre Completo" name="txtNombre">

    </form>


  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#splash">Home</a>
        </li>

        <li>
          <a href="#itemForm">Reservas</a>
        </li>
        <li>
          <a href="#itemCreate">Listado de Reservas</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role"page" id="itemCreate">
  <div data-role="header" data-position="fixed">
    <h1>Cinepolis</h1>
  </div>
  <div role="main" class="ui-content">
    <h2>Listado de Reservas de Tickets de Cine</h2>
      <ul id ="splash_list" data-role="listview" data-inset="true"></ul>


  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#splash">Home</a>
        </li>

        <li>
          <a href="#itemForm">Reservas</a>
        </li>
        <li>
          <a href="#itemCreate">Listado de Reservas</a>
        </li>
      </ul>
    </div>
  </div>
</div>
